services:
  backend:
    build: .
    image: ${DOCKER_IMAGE}
    ports:
      - "8000:8000"
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./logs:/logs

  db:
    image: postgres:14-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql/data



volumes:
  pg_data: